<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slots="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center" >Referencia Bibliografica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <img class="icon" src="assets/libro.png" alt="">
    
  <ion-item>
    <ion-label position="floating">Título Publicación</ion-label>
    <ion-input type = "text" [(ngModel)]="referenciaEditando.titulopub" name= "titulopub" ngModel  required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Autores</ion-label>
    <ion-input type = "text" [(ngModel)]= "referenciaEditando.autores" name="autores" ngModel  required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Tipo Publicación</ion-label>
    <ion-select  type = "text" [(ngModel)]= "referenciaEditando.tipopub" name="tipopub" ngModel  required>
      <ion-select-option value= "Articulo de Revista" >Articulo de revista</ion-select-option>
      <ion-select-option value= "Articulo en Evento" >Articulo en evento (conferencia, seminario</ion-select-option>
      <ion-select-option value= "Otro">Otro</ion-select-option>
    </ion-select>
  </ion-item>


  <ion-item>
    <ion-label position="floating">Nombre Evento o Revista</ion-label>
    <ion-input type = "text" [(ngModel)]= "referenciaEditando.eventorevista" name="eventorevista" ngModel  required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Identificador único de documento</ion-label>
    <ion-input type = "text" [(ngModel)]= "referenciaEditando.doi" name="doi"ngModel  required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Año de la publicación</ion-label>
    <ion-input type = "text" [(ngModel)]= "referenciaEditando.anyopub" name="anyopub" ngModel required></ion-input>
  </ion-item>

  <ion-button  (click)= regitrarReferencia() class="ion-padding" expand="full" color="success">
    Registrar
  </ion-button>
  <br>

</ion-content>

