<ion-header>
  <ion-toolbar color="primary">
  <ion-title class="ion-text-center" >Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <img class="icon" src="assets/img-login.jpg" alt="">
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type = "email" [(ngModel)]= "email" name= "email" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type = "password" [(ngModel)]= "contrasenia" name="contrasenia" required></ion-input>
  </ion-item>

  <ion-button (click)=validarLogin() class="ion-padding" expand="full" color="primary">
    Entrar
  </ion-button>
  <br>

  <u><p class="ion-text-center" routerLink = '/registro-user' > Crear cuenta</p></u>


</ion-content>
