<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slots="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center" >Registro Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <img class="icon" src="assets/registro-user.png" alt="">
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type = "email" [(ngModel)]= "email" name= "email" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type = "password" [(ngModel)]= "contrasenia" name="contrasenia" required></ion-input>
  </ion-item>

  <ion-button  (click)=regitrarUser() class="ion-padding" expand="full" color="success">
    Registrarme
  </ion-button>
  <br>
  
  <u><p class="ion-text-center" routerLink = '/login' > Iniciar Sesión</p></u>

</ion-content>
