<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h2><strong>BiblioApp</strong></h2>
    <h3>Opciones</h3>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button>
            <ion-icon slot="start" name="star"></ion-icon>
              Todas las referencias
            </ion-button>        
         </ion-col>
         <ion-col>
          <ion-button>
            Agregar Referencia
            <ion-icon slot="end" name="add"></ion-icon>
          </ion-button> 
         </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button>
            <ion-icon slot="start" name="pencil"></ion-icon>
              Modificar Referencia
            </ion-button>
        </ion-col>
        <ion-col>
          <ion-button>
            Eliminar Referencia
            <ion-icon slot="end" name="trash"></ion-icon>
          </ion-button>
        </ion-col>

      </ion-row>

    </ion-grid>
    

    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
