<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">BiblioApp</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h2><strong>Opciones</strong></h2>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button (click)="ir_listar()">
            <ion-icon slot="start" name="star"></ion-icon>
              Todas las referencias
            </ion-button>        
         </ion-col>
         <ion-col>
          <ion-button (click)="ir_registrar()">
            Registrar Referencia
            <ion-icon slot="end" name="add"></ion-icon>
          </ion-button> 
         </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button (click)="ir_modificar()">
            <ion-icon slot="start" name="pencil"></ion-icon>
              Modificar Referencia
            </ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="ir_eliminar()">
            Eliminar Referencia
            <ion-icon slot="end" name="trash"></ion-icon>
          </ion-button>
        </ion-col>

      </ion-row>

    </ion-grid>
    
  </div>
</ion-content>
